.left.slidebar{
  margin-bottom: $gap * 4;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;

img {
  width: 100%;
 }
}

.site-news {
&-item{
  position: relative;
  clear: both;
&:not(:last-child) {
  min-width: 85px;
  margin-bottom: $gap;
&::after {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: calc(100% - 85px);
  height: 1px;
  background-color: $color-gray;
  content: "";
 }
}
&:hover {
.site-news-item__title a {
  color: $color-accent;
}  
.site-news-item__image {
  border-color: $color-accent;
  background-color: $color-accent;
 }
}
&__image {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
  transition: background-color 0.25s;
}

&__title {
  margin-bottom: 10px;
a {
  color: $color-primary;
  transition: color 0.25s;
  @include block-shortener(1rem, 1.5, 50px, 2);
  }
 }
&__date {
text-align: right;
font-size: 0.8rem;
color: darken($color-gray, 30%);
  }
 }
}

.top-films {
.panel-body {
  padding-left: 0;
  padding-right: 0;
}

.list-group {
  margin-bottom: 0;
&-item {
    margin-left: -1px;
    margin-right: -1px;
 }
}

.badge {
  position: absolute;
  right: 10px;;
  top: 12px;
}

&-item {
  position: relative;
  border-left: none;
  border-right: none;
  border-top: 1px solid $color-gray;
  background-color: transparent;
  padding: 0;
a {
  display: block;
  padding: 10px 40px 10px 15px;
  } 

&:first-child {
  border-radius:0;
  border-top: none;
}
&:last-child {
  border-radius:0;
  border-bottom: none;
}
&:hover,
&:focus {
  background-color: $color-accent;
a {
  color: $color-light;
}
.badge {
  background-color: $color-dark;
  }
 } 
}
}